trunk/SilverlightApplication/Service References/WebServiceLives/WebService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/Lives/WebService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BO" />
  <xs:import schemaLocation="http://localhost/Lives/WebService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://localhost/Lives/WebService.svc?xsd=xsd5" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="obtemTodosVideos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="obtemTodosVideosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/BO" minOccurs="0" name="obtemTodosVideosResult" nillable="true" type="q1:ArrayOfVideo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="obtemVideosAprovados">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="obtemVideosAprovadosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/BO" minOccurs="0" name="obtemVideosAprovadosResult" nillable="true" type="q2:ArrayOfVideo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="obtemVideosPorAprovar">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="obtemVideosPorAprovarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/BO" minOccurs="0" name="obtemVideosPorAprovarResult" nillable="true" type="q3:ArrayOfVideo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="obtemVideo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="obtemVideoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/BO" minOccurs="0" name="obtemVideoResult" nillable="true" type="q4:Video" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="obtemAprovadosCategoria">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cat" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="obtemAprovadosCategoriaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/BO" minOccurs="0" name="obtemAprovadosCategoriaResult" nillable="true" type="q5:ArrayOfVideo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="obtemVideosCategoriaUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cat" type="xs:int" />
        <xs:element xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="idUser" type="q6:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="obtemVideosCategoriaUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/BO" minOccurs="0" name="obtemVideosCategoriaUserResult" nillable="true" type="q7:ArrayOfVideo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="obtemTodosVideosSubcategoria">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idSubcat" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="obtemTodosVideosSubcategoriaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/BO" minOccurs="0" name="obtemTodosVideosSubcategoriaResult" nillable="true" type="q8:ArrayOfVideo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="obtemTodosVideosSubcategoriaUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idSubcat" type="xs:int" />
        <xs:element xmlns:q9="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="idUser" type="q9:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="obtemTodosVideosSubcategoriaUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/BO" minOccurs="0" name="obtemTodosVideosSubcategoriaUserResult" nillable="true" type="q10:ArrayOfVideo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="obtemVideosAprovadosUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="idUser" type="q11:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="obtemVideosAprovadosUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/BO" minOccurs="0" name="obtemVideosAprovadosUserResult" nillable="true" type="q12:ArrayOfVideo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="obtemVideosPorAprovarUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="idUser" type="q13:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="obtemVideosPorAprovarUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/BO" minOccurs="0" name="obtemVideosPorAprovarUserResult" nillable="true" type="q14:ArrayOfVideo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="obtemVideosUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="idUser" type="q15:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="obtemVideosUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/BO" minOccurs="0" name="obtemVideosUserResult" nillable="true" type="q16:ArrayOfVideo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="obtemVideoMaisRecente">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="estado" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="obtemVideoMaisRecenteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/BO" minOccurs="0" name="obtemVideoMaisRecenteResult" nillable="true" type="q17:Video" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="obtemTodosVideosPorCategorias">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="categorias" nillable="true" type="q18:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="obtemTodosVideosPorCategoriasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/BO" minOccurs="0" name="obtemTodosVideosPorCategoriasResult" nillable="true" type="q19:ArrayOfVideo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="obtemCategoriaId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="obtemCategoriaIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/BO" minOccurs="0" name="obtemCategoriaIdResult" nillable="true" type="q20:Categoria" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="obterTodas">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="obterTodasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/BO" minOccurs="0" name="obterTodasResult" nillable="true" type="q21:ArrayOfCategoria" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="obtemSubCategoriaNome">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nome" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="obtemSubCategoriaNomeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/BO" minOccurs="0" name="obtemSubCategoriaNomeResult" nillable="true" type="q22:Subcategoria" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="obtemSubCategoriaId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idSubCat" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="obtemSubCategoriaIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/BO" minOccurs="0" name="obtemSubCategoriaIdResult" nillable="true" type="q23:Subcategoria" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="obtemTodasSubcatCategoria">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cat" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="obtemTodasSubcatCategoriaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/BO" minOccurs="0" name="obtemTodasSubcatCategoriaResult" nillable="true" type="q24:ArrayOfSubcategoria" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="obtemTodasSubcatVideos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="obtemTodasSubcatVideosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/BO" minOccurs="0" name="obtemTodasSubcatVideosResult" nillable="true" type="q25:ArrayOfSubcategoria" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="obtemPlayList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="cats" nillable="true" type="q26:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="obtemPlayListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="obtemPlayListResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>